.container
{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.container:hover .bild
{
    rotate: 45deg ;
    scale: 1.2;
   
}

.container:hover .text
{
    opacity: 100%;
}
.bild
{
    width: 100%;
    height: 100%;
    background-image: url(./images/image.png);
    background-size: cover;
    transition-property: rotate, scale;
    transition-duration: 1s;
    transition-timing-function: linear;
    overflow: hidden;
}

.text
{
    opacity: 0%;
    
    background-color: rgba(109, 109, 109, 0.63);
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 1;
    top: 0;
    text-align: center;
    line-height: 250px;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}